.checkbox {
  cursor: pointer;
  position: relative;
  line-height: 0.9rem;
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}

.checkbox_hidden {
  visibility: hidden;
}

.checkbox-input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox-input:checked + .checkbox-view {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='none' d='M-1-1h22v22H-1z'/%3E%3Cg%3E%3Cpath fill='%234caf50' stroke='null' d='M8.35 11.81l-1.639 1.323-3.986-4.939 1.639-1.322L8.35 11.81z'/%3E%3Cpath fill='%234caf50' stroke='null' d='M8.114 14.816L6.45 12.77 16.736 4.4 18.4 6.446l-10.286 8.37z'/%3E%3C/g%3E%3C/svg%3E");
}

.checkbox-input:focus + .checkbox-view {
  box-shadow: 0 0 2px 2px #99c7e6;
}

.checkbox-view {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: 0.9rem 0.9rem;
  background-position: center;
  outline: none;
  border: 2px solid #a9a9a9;
  border-radius: 5px;
  box-sizing: border-box;
}

.checkbox:focus {
  outline: none;
  box-shadow: 0 0 2px 2px #99c7e6;
}